/.vscode/
/__pycache__/
/.cache/
/.pytest_cache/
/wandb/
/outputs/
/models/
/cloudml/
/docs/
/examples/
/scripts/infer/
*.egg-info/
configs/data/full_16k_megatron_packed.json
configs/data/sequence_32k_megatron_packed.json
*.tar
*.tar.gz
*.pt
*.pth
*.safetensors
*.ipynb
*.ipynb_checkpoints
*.pyc
.DS_Store
